body {font-size: 13px;}

tr.clickable:hover {
  color: blue;
  cursor: pointer;
}
.ds-none {display: none !important;}

.navbar {margin-bottom: 10px; min-height: 40px;}
.navbar-brand {height: 40px; padding: 10px 15px;}

.panel {margin-bottom: 10px;}

.panel.panel-tab {border-top: none ; border-top-right-radius:0; border-top-left-radius:0;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

