.mdl-layout__header-row {max-width: 1250px; width: 100%; padding: 0; margin: 0 auto;}
.mdl-main-content {max-width: 1250px; width: 100%; margin: 0 auto; display: block;}
.mdl-data-table tbody td.name {width: 100%;}
.mdl-button--fab.mdl-button--micro-fab {width: 28px; height: 28px; min-width: 28px;}
.mdl-button--fab.mdl-button--micro-fab .material-icons {font-size: 18px;}

.mdl-srch-textfield {width: 100%;}
